body {
  padding: 20px;
  font-size: 12pt !important;
  color: #373d3f;
}

input[type="text"]:not(#documentEditor input):not(#fmeGroupArea input) {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
}

section {
  margin-top: 20px;
  position: relative;
}

aside {
  float: left;
  width: 300px;
}

aside input[type="text"] {
  width: 100%;
  margin-bottom: 5px;
}

article {
  float: left;
  margin: 50px;
  margin-top: -5px;
  max-width: 1000px;
}

article textarea {
  resize: auto;
  width: 400px;
  height: 150px;
  border-radius: 3px;
  border: 1px solid #999;
}

article label:not(.sketch-picker label):not(#fmeWorkspaceInfo label) {
  width: 160px;
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

article label.full {
  width: 370px;
}

.layer-menu-label-checkbox {
  width: 300px;
}

.long-label {
  white-space: nowrap;
}

article input[type="text"]:not(#fmeGroupArea input) {
  width: 400px;
  margin-right: 5px;
  margin-bottom: 5px;
}

form > div,
article fieldset > div,
article fieldset > span > div {
  margin: 7px;
}

.btn {
  position: relative;
  top: -2px;
}

.btn-default {
  color: #333;
  background-color: white;
  border-color: #ccc;
}

.btn-default:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.details {
  float: left;
  width: 310px;
}

.details .fa-times {
  cursor: pointer;
}

.layer-list-choosen {
  border: 1px solid #999;
  border-radius: 3px;
  display: inline-block;
  width: 500px;
  min-height: 40px;
  max-height: 350px;
  overflow: auto;
  cursor: pointer;
}

.layer-list-choosen ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.layer-list-choosen li {
  padding: 5px;
  margin: 5px;
}

.layer-list-choosen .layer {
  display: inline-block;
  padding: 4px;
  border-radius: 3px;
  background: #5cb85c;
  color: white;
  margin-right: 4px;
  margin-bottom: 4px;
}

.layer-list {
  border: 1px solid #999;
  border-radius: 3px;
  display: inline-block;
  width: 500px;
  min-height: 150px;
  max-height: 350px;
  overflow: auto;
  padding: 5px;
  cursor: pointer;
}
.layer-list-test {
  display: block;
  width: 95%;
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  color: #555555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  cursor: pointer;
  min-height: 250px;
  max-height: 350px;
  margin-left: 15px;
}

.label-block {
  display: block;
}

.no-padding {
  padding: 0 !important;
}

.no-margin-top {
  margin-top: 0;
}

.label-margin {
  margin-left: 15px;
}

.layer-list label {
  width: auto !important;
}

.layer-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.layer-list li {
  padding: 5px;
}

.layer-list li:hover {
  background: #dedede;
}

.layer-list li i {
  float: right;
  margin-top: 1px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.layer-list li i.active {
  color: #a94442;
  border: 1px solid;
}

.config-layer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.config-layer-list li {
  border: 1px solid #ccc;
  background: #f8f8f8;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.config-layer-list .main-box {
  width: 230px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
}

.config-layer-list .options-box,
.map-management {
  display: flex;
}

.config-layer-list li i {
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
}

table th {
  text-align: center;
  padding: 4px;
  border: 1px solid;
}

table td {
  padding: 4px;
  text-align: left;
  border: 1px solid;
}

.validation-error {
  background: #d9534f;
}

.modal {
  display: inherit !important;
}

body.dragging,
body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 1;
  z-index: 2000;
}

.tree-view > ul li.placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.tree-view > ul li.placeholder:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  margin-top: -3px;
  left: -3px;
  top: -2px;
  border: 5px solid transparent;
  border-left-color: black;
  border-right: none;
}

.tree-view {
  float: left;
  margin-left: 20px;
  width: auto !important;
}

.tree-view ul {
  list-style: none;
  padding-left: 15px;
}

.tree-view ul li {
  min-width: 300px;
  margin: 3px;
}

.tree-view .layer-node {
  border: 1px solid #ccc;
  background: #f8f8f8;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.tree-view .layer-node.visible {
  font-weight: bold;
}

.tree-view .group-name {
  font-weight: bold;
  cursor: pointer;
}

.nav-tabs {
  overflow: hidden;
}

.nav-tabs .nav-link.active {
  background-color: #f8f8f8;
}

.tab-pane-bar {
  margin: 0 0 18px 0;
}

.tab-pane aside {
  max-height: 100vh;
}

.expanded-at-start {
  position: relative;
  top: 4px;
}

.expanded-at-start label {
  width: auto;
  margin: 4px;
}

.info-group {
  display: flex;
  margin-left: 13px;
  gap: 10px;
}

.info-group:last-child {
  margin-bottom: 10px;
}

.edit-fields-table {
  display: inline-block;
  max-width: 820px;
}

.edit-fields-table input[type="text"] {
  width: 160px !important;
  margin: 0 !important;
}

.edit-fields-table-default {
  width: 184px !important;
}

.list-value:first-child {
  margin-left: 0 !important;
}

.list-value {
  display: inline-block;
  padding: 4px;
  border-radius: 3px;
  background: #5cb85c;
  color: white;
  margin: 2px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.geometry-types {
  display: inline-block;
}

.geometry-types label {
  width: auto !important;
}

.color-box {
  width: 100px;
  height: 62px;
  border: 1px solid black;
}

.inset-form {
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 10px;
}

.layer-item.selected {
  background: #449d44;
  border-color: #398439;
  color: white;
}

.sketch-picker {
  display: inline-block;
}

.text-display {
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
  color: #a0a0a0;
  margin: 0;
}

.layer-list-choosen-test {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  width: 100%;
  min-height: 80px;
  max-height: 350px;
  overflow: auto;
  cursor: pointer;
}

.layer-list-choosen-test ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.layer-list-choosen-test li {
  padding: 5px;
  margin: 5px;
}

.layer-list-choosen-test .layer {
  display: inline-block;
  padding: 4px;
  border-radius: 3px;
  background: #5cb85c;
  color: white;
  margin-right: 4px;
  margin-bottom: 4px;
}

.layer-list-style-select-test {
  display: inline-block;
  width: 200px;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.list-item:first {
  margin-top: 0;
}
.list-item {
  padding: 7px;
  width: 100%;
  overflow: hidden;
}
.list-item li:hover {
  background-color: #dedede;
}

.overflow-hidden {
  overflow: hidden;
}

.article-wrapper {
  width: 580px;
}

.infoclick-heading {
  padding-left: 15px;
}

.infoclick-box {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 4px;
}

.preset-icon {
  float: right;
}

.preset-active {
  background: cyan !important;
}

.preset-name .btn {
  margin: 5px;
}

.preset-name .btn-danger {
  float: right;
}

.tooltip-info {
  padding-left: 8px;
  padding-top: 8px;
  border-left: 1px solid gray;
}

.tooltip-timeSlider {
  padding-left: 8px;
  padding-top: 8px;
  border-left: 1px solid gray;
}

textarea.form-control {
  height: 150px;
}

legend.header-side {
  border: none;
}

.properties-list {
  list-style-type: none;
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Georgia", serif;
  font-size: 14px;
  padding: 15px;
  max-width: 800px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  display: inline-block;
  padding: 5px;
  border: 1px solid #ccc;
}

.RichEditor-activeButton {
  color: #fff;
  background: #33a6dc;
  box-shadow: 1px 1px 3px #ccc;
}

figure {
  width: 0;
  margin: 0;
}

figure img {
  max-width: 567px;
}

.chapters {
  display: inline-block;
  background-color: #f4f4f4;
}

.chapter {
  margin: 5px;
  margin: 5px;
  margin-left: 15px;
  padding: 4px;
}

.toc {
  cursor: pointer;
  font-size: 14pt;
}

.toc-container {
  height: 95%;
  overflow: auto;
}

.chapterHeader {
  font-size: 16pt;
  margin: 0;
  padding: 10px;
  margin-bottom: 5px;
  font-style: italic;
  cursor: pointer;
}

.padded {
  padding: 5px;
}

.margined {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.Modal {
  position: absolute;
  width: 500px;
  min-height: 300px;
  top: 30%;
  left: 50%;
  margin-left: -250px;
  background-color: white;
  border: 1px solid;
  padding: 10px;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 10px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
}

.pointer {
  cursor: pointer;
}

.chapter p {
  margin: 0;
  padding: 0;
}

.layer-list-container {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 55px;
  width: 250px;
  z-index: 100;
  border-right: 1px solid;
  border-bottom: 1px solid;
  list-style: none;
  background: white;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.control-fixed {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
}

.control-fixed-width {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  width: 400px;
}

#map {
  border-bottom: 1px solid;
  margin-left: 250px;
  position: ab;
}

.layer-list-item {
  border: 1px solid #ccc;
  background: #f8f8f8;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 12pt;
  user-select: none;
}

.layer-list-item .fa {
  width: 15px;
}

.layer-list-item .label {
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.wms-layer-name {
  word-wrap: break-word;
}

.collector-field {
  padding: 10px;
  border: 1px solid;
  margin: 10px 0;
}

.block-row {
  display: inline-block;
}

.pages {
  max-height: calc(100vh - 20px);
  overflow: auto;
  margin: 20px 0px;
}

.page {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background: white;
}

.page-header {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-body {
  padding: 10px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}

.separator.set-width {
  width: 930px;
}

.map-management-margin-left {
  margin-left: 10px;
}

.information-box {
  background-color: #fbe0a4;
  width: 580px;
  font-style: italic;
  color: black;
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 5px;
}

.DocumentTextEditorContainer {
  position: sticky;
}

.DocumentTextEditorContainer .RichEditor-blockquote {
  background-color: #eeeeee;
  border-top: 2px solid #786aaf;
  border-bottom: 2px solid #786aaf;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.modal-body input {
  margin-top: 10px;
}

.modal-body select {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
}

.DraftEditor-root {
  font-size: 0.875rem;
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

.DraftEditor-root figure {
  width: 100%;
}

.DraftEditor-root a {
  color: #0076bc !important;
}

.public-DraftStyleDefault-block {
  margin-bottom: 0.5em;
}

.document-blockquote {
  padding-left: 0.5rem;
  background-color: #f7fafc;
  border-top: 4px solid #edf2f7;
  border-bottom: 4px solid #edf2f7;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.modal {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modal-content {
  max-height: calc(100vh - 2rem);
  overflow-y: scroll;
}

.layerDialog label,
.layerDialog input {
  margin: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.layerDialog textarea.infoClick {
  font-family: monospace;
  font-size: 0.8rem;
  height: 180px;
}

.layerDialog .form-row {
  margin-bottom: 0.8rem;
}

.layerDialog div[class*="split"] {
  display: flex;
  align-items: center;
}

.layerDialog div[class*="split"] > div:first-child {
  padding-right: 1rem;
}

.layerDialog .split50 > div {
  flex: 0 0 50%;
}

.layerDialog .split0 > div {
  flex: 0 0 auto;
}

.layerDialog .split3070 > div:first-child {
  flex: 0 0 30%;
}

.layerDialog .split3070 > div:last-child {
  flex: 0 0 70%;
}
