<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EDP.GIS.Kubb.Connector.Edp" version="0.8.1" targetFramework="net452" />
  <package id="log4net" version="2.0.11" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
</packages>