.map {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.widget-button {
  background: white;
  border: 1px solid;
  margin: 3px 0px;
}

.widgets {
  position: absolute;
  z-index: 10000;
  min-height: 50px;
  margin: 10px;
  overflow: hidden;
}

.widgets.left {
  top: 0px;
  left: 0;
}

.widgets.right  {
  top: 200px;
  right: 0;
}