.map {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.widget-button {
  background: white;
  border: 1px solid;
  margin: 3px 0px;
}

.widgets {
  position: absolute;  
  z-index: 1000;
  background: none;
  width: 150px;  
}

.top-left {
  top: 10px;
  left: 0;
}

.top-right {
  top: 10px;
  right: 0;
}

.bottom-left {
  bottom: 10px;
  left: 0;
}

.bottom-right {
  bottom: 10px;
  right: 0;
}