#popup {
  display: none;
}

.ol-popup {
  position: relative;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  width: 250px;
  height: 300px;
  z-index: 2000;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
#popup-content {
  word-break: break-all;
}

.text-content {
  overflow: auto;
}

.popup-content-container {
  height: 100%;
}

#popup-content img {
  max-width: 100%;
}

.toggle {
  text-align: center;
  font-size: 16px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-text {
  text-align: center;
}
