.toolbar > div {
  display: inline;
}

.tool-toggle-button {
  background-color: white;
  color: #333333;
  width: 50px;
  height: 50px;
  cursor: pointer;
  float: left;
  margin: 5px;
  word-break: break-all;
  text-align: center;
  font-size: 25pt;
  line-height: 25pt;
  border-radius: 500px;
}
.tool-toggle-button:hover {
  background: #eee;
  transition: 0.3s;
}

.tool-toggle-button.active {
  background: rgb(54, 135, 255);
  box-shadow: 1px 1px 4px #999;
  color: white;
}

.toolbar {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: white;
  border: 1px solid #ccc;
  z-index: 1001;
  padding: 4px;
}

.toolbar-toggler {
  display: none;
}

.toolbar .icon {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.tool-text {
  display: none;
}

@media only screen and (max-width: 600px) {
  .toolbar-toggler {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20pt;
    right: 10px;
    top: 10px;
    border: 1px solid #ccc;
    border-radius: 100px;
    z-index: 1001;
    display: block;
    position: fixed;
    background: white;
  }
  .toolbar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 80px;
    background: white;
    z-index: 1000;
    display: none;
    border-radius: 0px;
  }
  .toolbar.visible {
    display: block;
  }
  .tool-toggle-button {
    display: block;
    float: none;
    width: inherit;
    text-align: left;
  }
  .toolbar .icon {
    padding-right: 10px;
    padding-left: 10px;
    width: 60px;
    text-align: center;
  }
  .tool-text {
    display: inline;
    vertical-align: middle;
  }
}
