node_modules/
dist/
logs/
.DS_Store
.vscode
.env
/exports/
/imports/

# Ignore all organization-specific map data…
App_Data/*

# …except some example files that should be tracked
!App_Data/layers.json
!App_Data/map_1.json
!App_Data/documents/
!App_Data/documents/**
!App_Data/templates/map.template
!App_Data/templates/map.template
