body {
	margin: 20px;
	width: 1400px;
	font-size: 12pt !important;
}

input[type="text"] {
	border: 1px solid #999;
	padding: 5px;
	border-radius: 3px;
}

section {
	margin-top: 20px;
	position: relative;
}

aside {
	float: left;
	width: 300px;
}

aside input[type="text"] {
	width: 100%;
	margin-bottom: 5px;
}

article {
	float: left;
	margin: 50px;
	margin-top: -5px;
	max-width: 1000px;
}

article textarea {
	width: 400px;
	height: 150px;
	border-radius: 3px;
	border: 1px solid #999;
}

article label {
	width: 150px;
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

article input[type="text"] {
	width: 400px;
	margin-right: 5px;
}

form > div,
article fieldset > div,
article fieldset > span > div {
	margin: 7px;
}

.details {
	float: left;
	width: 310px;
}

.details .fa-times {
	cursor: pointer;
}

.layer-list-choosen {
	border: 1px solid #999;
	border-radius: 3px;
	display: inline-block;
	width: 500px;
	min-height: 40px;
	max-height: 350px;
	overflow: auto;
	cursor: pointer;
}

.layer-list-choosen ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.layer-list-choosen li {
	padding: 5px;
	margin: 5px;
}

.layer-list-choosen .layer {
	display: inline-block;
	padding: 4px;
	border-radius: 3px;
	background: #5cb85c;
	color: white;
	margin-right: 4px;
	margin-bottom: 4px;
}

.layer-list {
	border: 1px solid #999;
	border-radius: 3px;
	display: inline-block;
	width: 500px;
	min-height: 150px;
	max-height: 350px;
	overflow: auto;
	padding: 5px;
	cursor: pointer;
}

.layer-list label {
	width: auto !important;
}

.layer-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.layer-list li {
	padding: 5px;
}

.layer-list li:hover {
	background: #dedede;
}

.layer-list li:nth-child(even)  {

}

.layer-list li:nth-child(odd)  {

}

.layer-list li i {
	float: right;
	margin-top: 1px;
	padding: 4px;
	border: 1px solid rgba(0,0,0,0);
}

.layer-list li i.active {
    color: #a94442;
    border: 1px solid;
}

.config-layer-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.config-layer-list li {
	border: 1px solid #ccc;
	background: #f8f8f8;
	margin-bottom: 5px;
	padding: 10px;
	width: 100%;
	cursor: pointer;
}

.config-layer-list li i {
	float: right;
	cursor: pointer;
	font-size: 20px;
}

table {

}

table th {
	text-align: center;
	padding: 4px;
	border: 1px solid;
}

table td {
	padding: 4px;
	text-align: left;
	border: 1px solid;
}

.validation-error {
	background: #d9534f;
}

.modal {
	display: inherit !important;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 1;
	z-index: 2000;
}

.tree-view > ul li.placeholder {
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
}

.tree-view > ul li.placeholder:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	margin-top: -3px;
	left: -3px;
	top: -2px;
	border: 5px solid transparent;
	border-left-color: black;
	border-right: none;
}

.tree-view {
	float: left;
	margin-left: 20px;
	width: auto !import;
}

.tree-view ul {
	list-style: none;
	padding-left: 15px;
}

.tree-view ul li {
	min-width: 300px;
	margin: 3px;
}

.tree-view .layer-node {
	border: 1px solid #ccc;
  background: #f8f8f8;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.tree-view .layer-node.visible {
	font-weight: bold;
}

.tree-view .group-name {
	font-weight: bold;
	cursor: pointer;
}

.nav-tabs {
	overflow: hidden;
}

.info {

}

.tab-pane-bar {
	margin: 0 0 18px 0;
}

.expanded-at-start {
	position: relative;
	top: 4px;
}

.expanded-at-start label {
	width: auto;
	margin: 4px;
}

.edit-fields-table {
	display: inline-block;
	max-width: 820px;
}

.edit-fields-table input[type="text"] {
	width: 160px !important;
	margin: 0 !important;
}

.editable-list {
}

.list-value:first-child {
	margin-left: 0 !important;
}

.list-value {
	display: inline-block;
	padding: 4px;
	border-radius: 3px;
	background: #5cb85c;
	color: white;
	margin: 2px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.geometry-types {
	display: inline-block;
}

.geometry-types label {
	width: auto !important;
}

.color-box {
	width: 100px;
	height: 62px;
	border: 1px solid black;
}

.inset-form {
	padding: 10px;
	background: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px;
	display: inline-block;
	margin-right: 10px;
}

.layer-item.selected {
	background: #449d44;
	border-color: #398439;
	color: white;
}
