body {
  margin: 0;
  padding: 0;
}

.tool-panel {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 500px;
  background: white;
  padding: 10px;
  bottom: 84px;
  overflow-y: auto;
  border: 2px solid;
}

.tool-panel.hidden {
  display: none;
}

.hidden {
  display: none;
}

.panel {
  background: #ccc;
}

.ol-zoom {
  top: 5px;
  left: 5px;
}

.ol-control button {
  background: rgba(255, 255, 255, 1);
  font-size: 20pt;
  color: black;
  border-radius: 0 !important;
  cursor: pointer;
  margin: 0;
}

.ol-control {
  border: 2px solid black;
  border-radius: 0;
  background: inherit;
  padding: 0;
}

.ol-control:hover {
  background: inherit;
}

.ol-control button:focus {
  background: rgba(255,255,255, 1);
  outline: inherit;
}

.ol-control button:hover {
  background: rgba(255,255,255, 0.5);
  outline: inherit;
}