html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  position: fixed;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  /* prevent pinch-zoom on Android */
  touch-action: pan-y;
}

#map {
  /* restore pinch-zoom for map */
  touch-action: auto;
}

.app-start {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  color: black !important;
  line-height: 1.4 !important;
  font-weight: 300 !important;
  font-size: 2rem !important;
  justify-content: center;
  align-items: center;
  background: rgb(63, 63, 63);
  color: white !important;
  fill: white;
}

.sr-only {
  /*Same style attributes as MaterialUI SrOnly*/
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.compass {
  animation: compass 1.2s cubic-bezier(0.51, 0.41, 0.17, 1.1) infinite;
  height: 80px;
}

@keyframes compass {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.app-name {
  font-size: 5rem;
  font-variant-caps: all-small-caps;
  font-style: italic;
  text-align: center;
}

.app-version {
  font-size: 0.8rem;
  line-height: 5rem;
}

/* Used only for displaying error if nothing loaded (and we don't have any MUI yet) */
.start-error {
  color: red;
  background: rgb(255, 200, 200);
  border: 1px solid red;
  border-radius: 5px;
  padding: 15px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-top: 5%;
}

.introjs-tooltip {
  min-width: 280px !important;
}

.material-icons {
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  display: inline-block;
  font-family: Material Icons;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
}
