  .sv-action-bar-item--active .sv-action-bar-item__icon use {
    fill: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sv-popup--overlay .sv-popup__button.sv-popup__button {
    background-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    border: 2px solid var(--sjs-primary-backcolor, var(--primary, #E83C23));
    color: var(--sjs-primary-forecolor, var(--primary-foreground, #fff));
  }

  .sv-popup--dropdown-overlay .sv-popup__button.sv-popup__button {
    background-color: transparent;
    color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    border: none;
    box-shadow: none;
    padding: calc(0.5 * (var(--sjs-base-unit, var(--base-unit, 8px)))) calc(2 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    border-radius: calc(12.5 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    margin: 0;
  }

  .sv-popup--dropdown-overlay .sv-list__item--focused.sv-list__item--selected .sv-list__item-body {
    background: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    color: var(--sjs-primary-forecolor, var(--primary-foreground, #fff));
    font-weight: 600;
  }

  .sv-button-group:focus-within {
    box-shadow: 0 0 0 1px var(--sjs-primary-backcolor, var(--primary, #E83C23));
    border-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sv-button-group__item--selected {
    font-weight: 600;
    color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sv-button-group__item--selected .sv-button-group__item-icon use {
    fill: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sv-button-group:focus-within {
    box-shadow: 0 0 0 1px var(--sjs-primary-backcolor, var(--primary, #E83C23));
    border-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sv-ranking-item:focus .sv-ranking-item__index {
    background: var(--sjs-general-backcolor, var(--background, #fff));
    outline: calc(0.25 * (var(--sjs-base-unit, var(--base-unit, 8px)))) solid var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sv-multi-select-list .sv-list__item.sv-list__item--selected.sv-list__item--focused .sv-list__item-body,
  li:focus .sv-list__item.sv-list__item--selected .sv-list__item-body {
    background-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    color: var(--sjs-primary-forecolor, var(--primary-foreground, #fff));
    font-weight: 600;
  }

  .sd-input:focus {
    box-shadow: 0 0 0 2px var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sd-input[type=range]::-webkit-slider-runnable-track {
    background-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    border-radius: var(--sjs-base-unit, var(--base-unit, 8px));
    height: calc(1.5 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  }

  .sd-input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: calc(-0.75 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    border-radius: 100%;
    border: 2px solid var(--sjs-primary-backcolor, var(--primary, #E83C23));
    box-shadow: inset 0 0 0 2px var(--background, #fff);
    background-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    height: calc(3 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    width: calc(3 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  }

  .sd-input[type=range]::-moz-range-track {
    background-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    border-radius: var(--sjs-base-unit, var(--base-unit, 8px));
    height: calc(1.5 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  }

  .sd-input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: calc(-0.75 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    border-radius: 100%;
    border: 2px solid var(--sjs-primary-backcolor, var(--primary, #E83C23));
    box-shadow: inset 0 0 0 2px var(--background, #fff);
    background-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    height: calc(3 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    width: calc(3 * (var(--sjs-base-unit, var(--base-unit, 8px))));
  }

  .sd-checkbox--checked .sd-checkbox__control:focus + .sd-checkbox__decorator .sd-checkbox__svg use {
    fill: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sd-root-modern:not(.sd-root-modern--mobile) .sd-table--alternate-rows .sd-table__row:nth-of-type(odd) > td .sd-item:not(.sd-item--error).sd-item--checked .sd-item__decorator,
  .sd-root-modern:not(.sd-root-modern--mobile) .sd-table--alternate-rows .sd-table__row:nth-of-type(odd) td:first-of-type .sd-item:not(.sd-item--error).sd-item--checked .sd-item__decorator {
    background-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sd-table__cell--detail-button:hover svg {
    fill: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sd-title.sd-container-modern__title {
    display: flex;
    align-items: center;
    padding: var(--sd-page-vertical-padding) var(--sd-page-vertical-padding);
    overflow: auto;
    font-family: var(--font-family, var(--font-family));
    gap: calc(4 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    box-shadow: 0px 2px 0px var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sd-header__text .sd-title {
    --cover-title-font-size: var(--sjs-font-surveytitle-size, calc(2 * (var(--sjs-font-size, 16px))));
    font-size: var(--cover-title-font-size);
    line-height: calc(1.25 * (var(--cover-title-font-size)));
    color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    font-family: var(--sjs-font-surveytitle-family, var(--font-family));
    font-weight: var(--sjs-font-surveytitle-weight, 700);
  }

  .sd-item__control:focus + .sd-item__decorator {
    box-shadow: 0 0 0 2px var(--sjs-primary-backcolor, var(--primary, #E83C23));
    background: var(--sjs-questionpanel-backcolor, var(--sjs-question-background, var(--sjs-general-backcolor, var(--background, #fff))));
    outline: none;
  }

  .sd-item--checked .sd-item__decorator {
    background: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sd-checkbox--checked .sd-checkbox__control:focus + .sd-checkbox__decorator .sd-checkbox__svg use {
    fill: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sd-radio--checked .sd-radio__control:focus + .sd-radio__decorator:after {
    background-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  :root {
    --sd-rating-bad-color: var(--sjs-special-red, var(--red, #e60a3e));
    --sd-rating-normal-color: var(--sjs-special-yellow, var(--yellow, #ff9814));
    --sd-rating-good-color: var(--sjs-special-green, var(--green, #60930F));
    --sd-rating-bad-color-light: var(--sjs-special-red-light, var(--red-light, rgba(230, 10, 62, 0.1)));
    --sd-rating-normal-color-light: var(--sjs-special-yellow-light, var(--yellow-light, rgba(255, 152, 20, 0.1)));
    --sd-rating-good-color-light: var(--sjs-special-green-light, var(--green-light, rgba(25, 179, 148, 0.1)));
  }

  .sd-rating__item:focus-within {
    border-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sd-rating__item--selected {
    background-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    border-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    color: var(--sjs-primary-forecolor, var(--primary-foreground, #fff));
    font-weight: 600;
    box-shadow: 0px 1px 2px transparent;
  }

  .sd-rating__item-smiley:focus-within {
    border-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }
  
  .sd-rating__item-smiley--selected {
    background-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    border-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    fill: var(--sjs-primary-forecolor, var(--primary-foreground, #fff));
    font-weight: 600;
  }

  .sd-rating__item-star--selected svg {
    stroke: none;
    fill: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sd-rating__item-star:focus-within svg {
    stroke: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    fill: none;
  }

  .sd-tagbox-item_clean-button {
    display: none;
    position: absolute;
    inset-inline-end: calc(1.5 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    padding: 0;
    padding-inline-start: calc(4 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    background: linear-gradient(270deg, var(--sjs-primary-backcolor, var(--primary, #E83C23)) 53.12%, rgba(25, 179, 148, 0) 100%);
  }

  [dir=rtl] .sd-tagbox-item_clean-button,
  [style*="direction:rtl"] .sd-tagbox-item_clean-button,
  [style*="direction: rtl"] .sd-tagbox-item_clean-button {
    background: linear-gradient(90deg, var(--sjs-primary-backcolor, var(--primary, #E83C23)) 53.12%, rgba(25, 179, 148, 0) 100%);
  }

  .sd-html button:focus {
    box-shadow: 0 0 0 2px var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sd-html button span {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    font-weight: 600;
    font-style: normal;
    font-family: var(--font-family, var(--font-family));
    font-size: var(--sjs-font-questiontitle-size, var(--sjs-font-size, 16px));
    line-height: calc(1.5 * (var(--sjs-font-questiontitle-size, var(--sjs-font-size, 16px))));
  }

  .sd-progress__bar {
    position: relative;
    height: 100%;
    background-color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    overflow: hidden;
  }

  .sd-file__choose-btn--text {
    display: block;
    font-weight: 600;
    color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    cursor: pointer;
  }
  .sd-file__choose-btn--text .sv-svg-icon {
    margin-left: calc(-1 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    width: 24px;
    height: 24px;
    fill: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }

  .sd-btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: calc(2 * (var(--sjs-base-unit, var(--base-unit, 8px)))) calc(6 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    background: var(--sjs-questionpanel-backcolor, var(--sjs-question-background, var(--sjs-general-backcolor, var(--background, #fff))));
    box-shadow: var(--sjs-shadow-small, 0px 1px 2px 0px rgba(0, 0, 0, 0.15));
    border-radius: var(--sjs-corner-radius, 4px);
    cursor: pointer;
    font-family: var(--font-family, var(--font-family));
    font-style: normal;
    font-weight: 600;
    font-size: var(--sjs-font-size, 16px);
    line-height: calc(1.5 * (var(--sjs-font-size, 16px)));
    text-align: center;
    color: var(--sjs-primary-backcolor, var(--primary, #E83C23));
    border: none;
    outline: none;
  }

  .sd-btn--action:hover {
    color: var(--sjs-primary-forecolor, var(--primary-foreground, #fff));
    background-color: var(--sjs-primary-backcolor-dark, rgb(241, 140, 0));
  }

  .sd-context-btn:hover use,
  .sd-context-btn:focus use {
    fill: var(--sjs-primary-backcolor, var(--primary, #E83C23));
  }
