
html, body,  {
  margin: 0px;
  padding: 0px;
}

.shell {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.clickable:hover {
  cursor: pointer;
}

.delete {
  position: relative;
  float: right;
  color: #ccc;
  top: 2px;
}

.delete:hover {
  color: @color-blood;
}

input[type="text"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:active, button:focus {
  outline: 0 !important;
  outline: none !important;
}

label {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.rotate-45 {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow {
  width: 10px;
  text-align: center;
  font-weight: bold;
}

#map-scale-bar {
  display: inline;
  .ol-scale-line-inner {
    border: 1px solid #ccc;
    border-top: none;
    color: white;
    font-size: 12px;
    text-align: center;
    margin: 1px;
    will-change: contents, width;
  }
  .ol-scale-line {
    position: static;
    display: inline-block;
    background: rgba(27, 120, 204, 0.5);
    border-radius: 0;
    padding: 3px;
    bottom: auto;
    margin-right: 3px;
  }
}


.map-scale {
  position: absolute;
  z-index: 200;
  right: 12px;
  display: inherit;
  background: rgba(255,255,255, 0.4);
  padding: 4px;
  border-radius: 6px;
  bottom: 66px;
  .map-scale-text {
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    background: rgba(27, 120, 204, 0.5);
    color: white;
    height: 26px;
    position: relative;
    top: 1px;
  }
}

.map-logo {
  position: absolute;
  top: 8px;
  right: 60px;
  height: 48px;
  background: white no-repeat;
  background-size: 100%;
  z-index: 100;
  border: 1px solid #CCC;
  border-radius: 6px;
  padding: 5px;
}

.map-logo img {
  max-width: 100%;
  max-height: 100%;
}

dl {
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid @color-yellow;
}

dt {
  background: @color-yellow;
  padding: 5px;
  color: white;
}

dd {
  margin: 0;
  margin-left: 10px;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?59c81a');
  src:  url('../fonts/icomoon.eot?59c81a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?59c81a') format('truetype'),
    url('../fonts/icomoon.woff?59c81a') format('woff'),
    url('../fonts/icomoon.svg?59c81a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconmoon-"], [class*=" iconmoon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconmoon-linje:before {
  content: "\e900";
  position: relative;
  top: 1px;
  font-weight: bold;
}
.iconmoon-punkt:before {
  content: "\e901";
  position: relative;
  top: 2px;
  font-weight: bold;
}
.iconmoon-yta:before {
  content: "\e902";
  font-weight: bold;
}

input {
  padding: 5px;
  border: 1px solid #999;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 10000;
}

.modal-dialog {
  background: rgba(255, 255, 255, 0.9);
  margin: auto;
  margin-top: 20px;
  border-radius: 3px;
  width: 350px;
  max-width: 90%;
  word-wrap: break-word;
}

.modal-header, .modal-footer,  .modal-body {
  padding: 10px;
}

.modal-header {
  background: white;
  border-bottom: 1px solid #CCCCCC;
}

.modal-foooter {
}

.modal-body {
}

.modal-body input {
  width: 100%;
}

.modal-title {
  margin: 0;
}

.ol-zoom {
  z-index: 300;
}
