
html, body, .shell {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.clickable:hover {
  cursor: pointer;
}

.delete {
  position: relative;
  float: right;
  color: #ccc;
  top: 2px;
}

.delete:hover {
  color: @color-blood;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}

button:active, button:focus {
  outline: 0 !important;
  outline: none !important;
}


